body {
    font-family: "Avenir Next";
  }

  
  .header {
    background-color: #ceccf3;
    height: 70px;
  }
  
  .header-TOP {
    float: left;
    font-size: 24px;
    padding: 20px 40px;
  }
  .header-PROFILE{
    font-size: 24px;
    padding: 20px 40px;

  }
  
  
  
  .main {
    height: 600px;
  }
  
  .footer {
    height: 270px;
  }
  
